.custom-search-bar .searchbar-search-icon {
    background-image: url('../../../assets/icon/search-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  