ion-title{
    font-size: 1.5rem;
}

.avatar{
    width: 40px;
    height: 40px;
    // border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    ion-img{
        width: 90%;
        height: 90%;
    }
}

.profile-items{
    margin: 0px;

    ion-icon{
        margin-right: 20px;
        color: gray;
    }
    ion-label{
        color: gray;
        font-weight: 100;
    }
    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
    }
    
}
ion-input.label{
    font-size: 14px;
}