ion-title{
    font-size: 1.5rem;
}

.msg-list{
    margin: 0px;

    ion-icon{
        margin-right: 10px;
        color: gray;
        
    }
    ion-label{
        color: gray;
        font-weight: 100;
    }
    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
    }
}