// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/



:root{
    --custom-primary: #265073;
    --custom-secondary:#EEF7FF;
    --ion-color-light:#2D9596;
}
