<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>reminders</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reminders</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="reminder-list">
    <ion-item>
      <ion-toggle color="medium">Sergery Reminder</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle color="medium">Consultation Reminder</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle color="medium">Message Reminder</ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
