ion-title{
    font-size: 1.5rem;
}

.reminder-list{
    margin: 0px;

   
    ion-item{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
        color: gray;
    }
}